# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
venv/
env/
lib/
bin/
pyvenv.cfg

# VS Code
.vscode/

# IDE
.idea/
node_modules/
.DS_Store
dist/
.DS_Store
__pycache__/
Week8/Day4/DailyChallenge/global_power_plant_database.csv
Week12/Day2/ExercsieXp/household_power_consumption.txt
*.csv

# Claude Code
CLAUDE.md
